:root {
    --su: 80px;
    --light-orange: #ff7522;
    --light-orange-rgb: 255, 117, 34;
    --dark-orange: #ea5b0c;
    --dark-orange-rgb: 234, 91, 12;
    --green: #00aa9d;
}

@font-face {
    font-family: 'rift';
    src: url('../fonts/rift-bold.woff2') format('woff2'), url('../fonts/rift-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    unicode-range: U+0020-007F, U+00A0-00FF;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--green);
}

body {
    display:flex;
    align-items: center;
    color: white;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
    cursor: none;
}

*:focus {
    outline: none;
}

main {
    padding: var(--su);
}

.video-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
}

.video-wrapper video {
    width: auto;
    height: 100%;
}

.video-wrapper.fullscreen {
    display: flex;
    z-index: 10;
    animation: showFullscreen forwards 250ms ease-in-out;
}

@keyframes showFullscreen {
    0% {
        display: flex;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}